
.button-primary{
    background-color: #E0524D;
    color: white;
}

.button-primary:hover{
    background-color: #a33d39 !important;
    color: white !important;
}

.no-list-style{
    list-style: none ;
}

.bg-black{
    background-color: black;
}

.shippingCost{
    margin-top: 0.5em;
    border: 2px solid green;
    background-color: lightgreen;
    text-align: center;
    font-size: 2.2em;
    color: darkgreen;
    font-weight: 500;

}

.button-gold{
    background-color:#afb62b;
    color: brown;
}

.button-gold:hover{
    background-color: #d3d84f !important;
    color: brown !important;
}

.button-gold2{
    background-color:#afb62b;
    color: black;
}

.button-gold2:hover{
    background-color: #d3d84f !important;
    color: black !important;
}

.text-total{
    color: black;
    font-size: 1.5em;

}