
.button-primary{
    background-color: #E0524D;
    color: white;
}

.button-primary:hover{
    background-color: #a33d39;
    color: white;
}

.no-list-style{
    list-style: none ;
}

.bg-black{
    background-color: black;
}