*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}


body {
    margin: 0%;
    min-height: 100vh;
    background-image: url(../images/carrusel/carrusel1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

body::before{
    content: "";
    width: 100%;
    min-height: 100vh;
    position: relative;
    top:0%;
    left: 0%;

    
    opacity: 0.5;
    z-index: -3;
}









.text-container h1{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: oblique;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    font-size:2em;
    text-shadow: 1px 1px 2px red;

}



/* FOTOS DE COLECCION */

.img-content{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: space-between;
    align-items:center;
    padding-top: 150%;
    padding-bottom: 150%;
    padding: 2%;

}

.img-content img{
    display: flex;
    flex-flow: column wrap;
    align-items:flex-start;
    max-width: 80%;
}





/* FOOTER */

footer{
    position:relative;
    bottom: 0;
    left: 0;
    right: 0;
    background: black;
    height: auto;
    width: 100vw;
    font-family: "Open Sans";
    margin:0%;
    padding-top: 2px;
    padding-bottom: 0%;
    color: #fff;
}

.footer-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.footer-content h3{
    font-size: 1.8rem;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 3rem;
}

.footer-content p{
    max-width: 500px;
    margin: 10px auto;
    line-height: 28px;
    font-size: 14px;
}

.socials{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 0;
}

.socials li{
    margin: 0px 10px;
}

.socials a{
    text-decoration: none;
    color: #fff;
}

.socials a i{
    font-size: 1.1rem;
    transition: color .4s ease;
}

.socials a:hover i{
    color:aqua;
}

.footer-bottom{
    background: #000;
    width: 100vw;
    padding: 30px 0;
    text-align: center;
}

.footer-bottom p{
    font-size: 14px;
    word-spacing: 2px;
    text-transform: capitalize;
}

.footer-bottom span{
    text-transform: uppercase;
    opacity: .4;
    font-weight: 200;
}
























































